{% extends "private/base.html" %}


{% block css%}
<link href="/static/css/deck-details.css" rel="stylesheet">
<link href="/static/css/modal.css" rel="stylesheet">
{% endblock %}


{% block page %}
<section id="single-card">
    <form action="
        {% if editing_existing %}
            {{ url_for('update_schema_endpoint', schema_id=schema_id) }}
        {% else %}
            {{ url_for('create_schema_endpoint') }}
        {% endif %}
        " method="post">
        <div class="box main-card">
            <div>

                <input class="h1" type="text" name="name", placeholder="Name" value="{{ schema.name }}"></input>
                <input type="text" name="description" placeholder="Description" value="{{ schema.description }}"></input>

                <label for="form">Form:</label>
                <textarea name="form" rows="10">{{ schema.form }}</textarea>

                <label for="preview">Preview:</label>
                <textarea name="preview" rows="2">{{ schema.preview }}</textarea>

                <label for="cards">Cards:</label>
                <textarea name="cards" rows="5">{{ schema.cards }}</textarea>

                {% if editing_existing %}<h3>EDITING SCHEMAS MIGHT BREAK YOUR DECKS</h3>{% endif %}
                <div class="buttons" style="margin-top: 1rem;">
                    <button type="submit" class="positive">Save</button>
                    <a href="{% if old_schema_id %}
                            {{ url_for('view_schema_page', schema_id=old_schema_id) }}
                        {% else %}
                           {{ url_for('schemas_page') }}
                        {% endif %}" class="neutral">Cancel</a>
                </div>
            </div>
        </div>
    </form>

</section>
{% endblock %}
